<div class="container main-container my-5">
  <h1><%= @lead.customer.name %></h1>
  <h4><%= @lead.customer.phone_number %> | <%= @lead.customer.email %></h4>
  <p><%= @lead.customer.address %></p>
  <div class="col-6">
    <%= simple_form_for @lead do |f| %>
    <%= f.input :status, collection: [ "New", "Going", "Won", "Lost", "Completed" ] %>
    <%= f.association :user, collection: User.order(:name) %>
    <%= f.input :follow_up_date, html5: true%>
    <%= f.input :follow_up_time, html5: true %>
    <%= f.input :comments %>
    <%= f.button :submit, class: "btn btn-flat"  %>
    <%= link_to "Cancel", lead_path(@lead), class: "btn btn-flat" %>
    <% end %>
  </div>
</div>
