<div class="container main-container mt-5">
  <h1><%= @customer.name %></h1>
  <h4><%= @customer.phone_number %> | <%= @customer.email %></h4>
  <p><%= @customer.address %></p>
  <div class="col-6">
    <%= simple_form_for [@customer, @lead] do |f| %>
    <%= f.input :status, collection: [ "New", "Going", "Won", "Lost" ] %>
    <%= f.input :follow_up_date, html5: true %>
    <%= f.input :follow_up_time %>
    <%= f.input :comments %>
    <%= f.button :submit, class: "btn btn-flat"  %>
    <% end %>
  </div>
</div>
