<div class="container main-container my-4">
  <%=link_to dashboard_path do%>
  <i class="fa-sharp fa-solid fa-arrow-left me-3"></i>Back
  <% end %>
  <div class="row">
    <div class="col-6">
      <h1><%= @lead.customer.name %></h1>
      <% if @lead.status === "New" %>
            <p>Status: <span class= "status-tag new-tag"><%= @lead.status %></span></p>
          <% elsif @lead.status === "Going"%>
            <p>Status: <span class= "status-tag going-tag"><%= @lead.status %></span></p>
          <% elsif @lead.status === "Lost"%>
            <p>Status: <span class= "status-tag lost-tag"><%= @lead.status %></span></p>
          <% elsif @lead.status === "Won"%>
            <p>Status: <span class= "status-tag won-tag"><%= @lead.status %></span></p>
        <% end %>
      <p><%= @lead.customer.phone_number %></p>
      <p><%= @lead.customer.email %></p>
      <p><%= @lead.customer.address %></p>
      <p class="time-stamp">created-<%= @lead.created_at.localtime.strftime('%b %d %Y %H:%M') %></p>
      <%= link_to "Edit", edit_lead_path(@lead) , class: "btn btn-flat" %>
      <%= simple_form_for [@lead, @order] do |f| %>
      <%= f.input :status, collection: [ "New", "In-Process", "completed" ] %>
      <%= f.button :submit, class: "btn btn-flat" %>
    <% end %>
    </div>
    <div class="col-6">
      <div class="scroll-card-comments">
        <p><%= @lead.comments %></p>
      </div>
    </div>
  </div>
    <div class="my-4">
   <%= simple_form_for @lnote, url: lnotes_path do |f|  %>
      <%= f.input :note  %>
      <%= f.hidden_field :lead_id, value: @lead.id %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.button :submit, value: "Add Note", class: "btn btn-flat" %>
    <% end %>
    <ul class="list-group mt-4" data-controller="lnotes">
      <% @lnotes.order(created_at: :desc).each do |lnote| %>
        <li class="list-group-item">
        <h5 class="time-stamp">
        <%= lnote.created_at.localtime.strftime('%b %d %Y %H:%M') %>
        <%= lnote.user.name %>
        </h5>
        <p><%= lnote.note %></p>
        </li>
      <% end %>
    </ul>
  </div>
</div>
