<div class="container">
  <h1 class="my-2">Customers List</h1> <%= link_to "New Customer", new_customer_path(@customer), class: "btn btn-flat mb-2" %>
    <ul class="list-group">
      <% @customers.each do |customer| %>
        <li class="list-group-item">
          <%= customer.name %> | <%= customer.phone_number %>
          | <%= customer.email %> | <%= customer.address %>
        </li>
      <% end %>
    </ul>
</div>
