<div class="container mt-3">
  <div class="main-container">
    <%=link_to lead_path(@lead) do%>
      <i class="fa-sharp fa-solid fa-arrow-left me-3"></i>Back
    <% end %>
    <h1><%= "Order_ID_#{@order.id}" %></h1>
          <%= render "shared/orderstatus" %>
    <h2><%= @order.lead.customer.name %></h2>
    <p><%= @order.lead.customer.phone_number %></p>
    <p><%= @order.lead.customer.address %></p>
    <ul class="list-group">
      <% @order.items.each do |item| %>
        <li class="list-group-item">
          <p>
          Product: <%= item.product.name %>
          <br>
          Quanitity: <%= item.quantity %>
          Sub Total $<%= item.price_total %>
          </p>
        </li>
      <% end %>
    </ul>
    <div class="my-4">
      <%= simple_form_for [@order, @onote] do |f|  %>
        <%= f.input :note  %>
        <%= f.button :submit, value: "Add Note", class: "btn btn-flat" %>
      <% end %>
      <ul class="list-group mt-4">
        <% @onotes.order(created_at: :desc).each do |onote| %>
          <li class="list-group-item">
          <h5 class="time-stamp">
          <%= onote.created_at.localtime.strftime('%b %d %Y %H:%M') %>
          <%= onote.user.name %>
          </h5>
          <p><%= onote.note %></p>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
