<div class="container mt-3 d-flex justify-content-center">
  <div class="main-container col-6 ">
    <%=link_to lead_path(@lead) do%>
      <i class="fa-sharp fa-solid fa-arrow-left me-3"></i>Back
    <% end %>
    <h1><%= "Order_ID_#{@order.id}" %></h1>
          <%= render "shared/orderstatus" %>
    <h2><%= @order.lead.customer.name %></h2>
    <p><%= @order.lead.customer.phone_number %></p>
    <p><%= @order.lead.customer.address %></p>
    <div class="my-3">
    <h3>Order Total: $<%= @order.order_total %></h3>
    <ul class="list-group my-3 ">
      <% @order.items.each do |item| %>
        <li class="list-group-item">
          <p>
          Product: <%= item.product.name %>
          <br>
          Quanitity: <%= item.quantity %>
          Sub Total $<%= item.price_total %>
          </p>
        </li>
      <% end %>
    </ul>
      <div class="border border-primary-subtle p-3">
        <h3>Add Product</h3>
        <%= simple_form_for [@order, @item] do |f|%>
          <%= f.association :product, label_method: :product_label , value_method: :id %>
          <%= f.input :quantity %>
          <%= f.button :submit, value: "Add Product", class: "btn btn-flat" %>
        <% end %>
      </div>
    </div>
    <div class="my-4">
      <%= simple_form_for [@order, @onote] do |f|  %>
        <%= f.input :note %>
        <%= f.button :submit, value: "Add Note", class: "btn btn-flat" %>
      <% end %>
      <ul class="list-group mt-4">
        <% @onotes.order(created_at: :desc).each do |onote| %>
          <li class="list-group-item">
          <h5 class="time-stamp">
          <%= onote.created_at.localtime.strftime('%b %d %Y %H:%M') %>
          <%= onote.user.name %>
          </h5>
          <p><%= onote.note %></p>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
